.tab {
  padding: 4.5rem;
  background-color: #282c2f;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  gap: 2rem;
}
.tab p {
  margin-bottom: 0;
}
.letterSpacing {
  letter-spacing: 0.3rem;
  word-spacing: 0.3rem;
}
.tabHeading {
  font-weight: 200;
  font-size: 1.8rem;
  font-family: "DM Sans", sans-serif;
}
.active {
  background-color: #2b2f32;
  border-bottom: 1px solid #69f5ae;
  filter: drop-shadow(0px 12px 19px #181a296b);
  box-shadow: none;
}
.icon {
  font-size: 2rem;
  color: #69f5ae;
}
/* BELOW 1200px */
@media (max-width: 1200px) {
  .tab {
    padding: 3rem;
  }
}
@media (max-width: 992px) {
  .tab {
    padding: 3rem 6rem;
    margin-bottom: 0;
    padding: 2.5rem 4rem;
  }
}
